.margin-top30{
    margin-top: 30px;
}
.margin-top10{
    margin-top: 10px;
}
.preloader-it {
    background: #fff;
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}
.la-anim-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none; 
}

.la-anim-1::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    content: '';
    opacity: 0;
    background: #212121;
    -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
    -moz-transition: opacity 0.2s, box-shadow 2s 4s;
    transition: opacity 0.2s, box-shadow 2s 4s;
    -webkit-transform: rotate(2deg) translateY(-2px);
    -moz-transform: rotate(2deg) translateY(-2px);
    -ms-transform: rotate(2deg) translateY(-2px);
    -o-transform: rotate(2deg) translateY(-2px);
    transform: rotate(2deg) translateY(-2px); 
}

.la-anim-1.la-animate {
    z-index: 10001;
    background: #212121;
    opacity: 1;
    -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
    -moz-transition: -moz-transform 5s ease-in, opacity 1s 5s;
    transition: transform 5s ease-in, opacity 1s 5s;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); 
}

.la-anim-1.la-animate::after {
    opacity: 1; 
}
.panel.panel-refresh .refresh-container .la-anim-1 {
    position: absolute; 
}
.panel.panel-refresh .refresh-container .la-anim-1.la-animate {
    -webkit-transition: -webkit-transform 2s ease;
    -moz-transition: -moz-transform 2s ease;
    transition: transform 2s ease; 
}